<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.crm.mapper.UserMapper">
	<insert id="addUser" parameterType="user">
		insert into user (username,password,age,sex,address) values (
			<if test="username != null and username != ''">
				#{username},
			</if>
			<if test="password != null and password != ''">
				#{password},
			</if>
			<if test="age != null">
				#{age},
			</if>
			<if test="sex != null">
				#{sex},
			</if>
			<if test="address != null and address != ''">
				#{address}
			</if>
		)
	</insert>
	
	<select id="loginUser" parameterType="String" resultType="User">
		select * from user where username = #{username} and password = #{password}
	</select>
</mapper>